<div class="owner_edit">
	<h1>オーナー情報の編集画面</h1>
	<h2>住所等の変更をされる場合は管理者へ問い合わせ下さい。</h2>
	<div class="">
		<%= form_for(@owner, url: owner_owner_path) do |f| %>
			<%= f.label :ニックネーム %><br>
			<%= f.text_field :nickname, class: 'owner_edit_form' %><br>
			<%= f.label :性別 %><br>
			<div class="owner_edit_form">
		      	<%= f.collection_select(:sex_id, Sex.all, :id, :sex, prompt: "") %><br>
		    </div>
		    <div class="owner_edit_form">
		    	<%= f.attachment_field :picture %>
		    </div>
	      	<div class="owner_edit_submit">
	      		<%= f.submit value="確定", class: "btn btn-primary" %>
	      	</div>
      	<% end %>
	</div>
</div>