<div class="admin_user_new_edit">
	<h1>オーナーの承認画面</h1>
	<div class="admin_user_new_content">
		<div class="clearfix">
			○名前<br>
			<div class='admin_user_contents'><%= @owner.lastname_kanji %></div><div class='admin_user_contents'><%= @owner.firstname_kanji %></div>
		</div>

		<div class="clearfix">
			○名前(カナ)<br>
			<div class='admin_user_contents'><%= @owner.lastname_kana %></div><div class='admin_user_contents'><%= @owner.firstname_kana %></div>
		</div>

		<div class="clearfix">
			○性別<br>　　　<div class='admin_user_contents'><%= @owner.sex.sex %></div>
		</div>

		<div class="clearfix">
			○ニックネーム<br>
			<div class='admin_user_contents'><%= @owner.nickname %></div>
		</div>

		<div class="clearfix">
			身分証明書の内容と照らし合わせて下さい。<br>
			<%= attachment_image_tag @owner, :proof_picture, format: 'jpeg', class: 'proof_picture' %>
		</div>

		<div class="clearfix">
			○住所<br>
			<div class='admin_user_contents'><%= @owner.address %></div>
		</div>

		<div class="clearfix">
			○電話番号<br>
			<div class='admin_user_contents'><%= @owner.mobile %></div>
		</div>

		<div class="clearfix">
			○メールアドレス<br>
			<div class='admin_user_contents'><%= @owner.email %></div>
		</div>

		<h2>振込先</h2>

		<div class="clearfix">
			○支店名<br>
			<div class='admin_user_contents'><%= @owner.bank_stor_name %></div>
		</div>

		<div class="clearfix">
			○預金種別<br>
			<div class='admin_user_contents'><%= @owner.deposit_type_id %></div>
		</div>

		<div class="clearfix">
			○口座番号<br>
			<div class='admin_user_contents'><%= @owner.bank_account_number %></div>
		</div>

		<div class="clearfix">
			○口座名義<br>
			<div class='admin_user_contents'><%= @owner.bank_account_name %></div>
		</div>

		<div class="clearfix">
			<%= form_for(@owner,url: admin_new_owner_path(@owner)) do |f| %>
				<%= f.hidden_field :approval, :value => true %>
				<div class="admin_user_new_btn">
					<%= f.submit '　承認　', class: 'btn-primary btn' %>
				</div>
			<% end %>
			<div class="admin_user_new_btn">
				<%= link_to '　削除　', admin_new_owner_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn-danger btn' %>
			</div>
		</div>
	</div>
</div>