<div class="single">
	<% @bicycle.bicycle_pictures.each do |picture| %>
		<%= attachment_image_tag picture, :bicycle_picture, class: '' %>
	<% end %>
</div>
<div class="bicycle_show">
	<% if owner_signed_in? %>
		<div class="owner_show_bicycle_link">
			<%= link_to '編集', edit_owner_bicycle_path(@bicycle), class: 'btn-secondary owner_show_bicycle_link_btn' %>
			<%= link_to '契約履歴', bicycle_owner_contract_path(@bicycle), class: 'btn-secondary owner_show_bicycle_link_btn' %><br>
			<%= link_to '貸し出し日の編集', edit_owner_lend_day_path(@bicycle), class: 'btn-secondary owner_show_bicycle_link_btn' %>
		</div>
	<% end %>
	<h1>商品名　　<%= @bicycle.name %></h1>
	<div class="clearfix">
		<div class="profile_picture_box">
				<%= attachment_image_tag @bicycle.owner, :picture, fallback: "/images/img2.png", class: 'profile_picture'  %>
		</div>
		<div class="bicycle_show_owner">
				出品者　　<%= @bicycle.owner.nickname %><br>
				貸し出し料金　１日<%= @bicycle.price %>円
		</div>
	</div>
	<div class="">
		 <h3>■貸し出し可能日</h3>
		 <!-- カレンダー -->
		 <div id="calendar"></div>
	</div>
	<div class="">
		<h3>■オーナーコメント</h3>
		<p><%= @bicycle.description %></p>
	</div>
	<div class="">
		<h3>■機能一覧</h3>
		<div class=""></div>
		<p>
			ハンドルタイプ　<%= @bicycle.handle.handle_type %><br>
			自転車種類　<%= @bicycle.bicycle_type.bicycle_type %>
	</div>
	<div class="">
		<h3>■貸し出し場所</h3>
		<% @bicycle.lend_spots.each do |l| %>
			<p><%= l.lend_spot %></p>
		<% end %>
	</div>
	<div class="">
		<h3>■返却場所</h3>
		<% @bicycle.return_spots.each do |r| %>
			<p><%= r.return_spot %></p>
		<% end %>
	</div>
	<div class="clearfix">
		<h3>■付属品</h3>
		<% @bicycle.bicycle_accessories.each do |a| %>
			<div class="bicycle_show_accessory">
				<%= a.accessory.accessorie_name %>
			</div>
		<% end %>
	</div>
	<% if user_signed_in? %>
		<% if current_user.approval == true %>
			<div class="contract_new_link">

				<%= link_to 'この商品を借りる',new_user_contract_path(bicycle: @bicycle), class: 'btn btn-danger' %>
			</div>
			<!-- オーナーとのメッセージ -->
			<div class="bicycle_show_room">
				<% if Room.find_by(owner_id: @bicycle.owner.id, user_id: current_user.id, bicycle_id: @bicycle.id) == nil  %>
					<%= form_for @room_new, url: user_rooms_path do |room| %>
						<%= room.hidden_field :owner_id, :value => @bicycle.owner.id %>
						<%= room.hidden_field :user_id, :value => current_user.id %>
						<%= room.hidden_field :bicycle_id, :value => @bicycle.id %>

						<%= room.submit 'オーナーにメッセージを送る', class: 'btn btn-success' %>

					<% end %>
				<% else %>
					<% @room = Room.find_by(owner_id: @bicycle.owner.id, user_id: current_user.id, bicycle_id: @bicycle.id) %>
					<%= link_to 'オーナーにメッセージを送る', user_message_path(@room.id), class: 'btn btn-success' %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<!-- レビューを書く -->
	<% if user_signed_in?%>
		<% if current_user.approval == true %>
			<div class="review_post">
			    <div class="review_post_title">
			    	<h2 class="">レビューを書く</h2>
			    </div>
			    <div class="review_post_content_box">

			    	<%= form_for @review, url: user_reviews_path do |review| %>


			        	<%= review.hidden_field :user_id, :value => current_user.id %>
			        	<%= review.hidden_field :bicycle_id, :value => @bicycle.id %>
			        	<%= review.text_area :review_message , class: "review_post_content" %>
			        	<div class="review_submit">
				        	<%= review.submit '投稿する', class: "btn-success btn" %>
				        </div>

			      	<% end %>

		    	</div>
		  	</div>
	  	<% end %>
	<% end %>

	<!-- レビュー表示 -->
	<div class="review_content_box">
	    <div class="review_post_title">
	    	<h2 class="">商品レビュー</h2>
	    </div>

	    <% if @bicycle.reviews.empty? %>
	    	<h1>現在商品のレビューはありません</h1>
	    <% end %>

	    <% @reviews.each do |r| %>
	    	<div class="review_index_box">
	    		<div class="review_created_at">
	        		<%= r.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
	      		</div>
		    	<div class="review_user_name">
	        		<%= r.user.nickname %>さん

	        		<% if r.user_id == current_user.id %>
	        			<%= link_to '削除', user_review_path(review: r), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
	        		<% elsif @bicycle.owner_id == current_owner %>
	        			<%= link_to '削除', user_review_path(review: r), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
	          		<% end %>

		    	</div>

		      	<div class="review_content clearfix">
		        	<%= simple_format(r.review_message) %>
		      	</div>
	    	</div>
		<% end %>
	    <div class="paginate">
	      <%= paginate @reviews, class: "paginate" %>
	    </div>
	</div>

	<div class="clearfix">

		<% @bicycle.exhibition_spots.each do |b| %>

			<%= link_to(:controller=>"/root",:action=>"bicycle_index",id: b.city_id) do %>
				<div class="bicycle_show_city_link btn-info">
					<%= b.city.city_name %>の自転車一覧
				</div>
			<% end %>

		<% end %>

	</div>

</div>
