<div class="admin_user_index">
	<h1>オーナー　一覧</h1>
	<table class="table ">
		<thead>
			<tr>
				<th>本名</th>
				<th>ニックネーム</th>
				<th>アドレス</th>
				<th>住所</th>
				<th>登録自転車数</th>
			</tr>
		</thead>
		<tbody>
			<% @owner.each do |owner| %>
			 		<tr>
						<td>
							<!-- 本名 -->
							<%= link_to owner.lastname_kanji+owner.firstname_kanji,admin_owner_path(owner)  %>
						</td>
						<td>
							<!-- ニックネーム -->
							<%= link_to owner.nickname, admin_owner_path(owner) %>
						</td>

						<td>
							<!-- アドレス -->
							<%= owner.email %>
						</td>
						<td>
							<!-- 住所 -->
							<%= owner.address %>
						</td>
						<td>
							<!-- 登録自転車数の表示 -->
							<% if owner.bicycles.exists? %>
							  <%= owner.bicycles.count %>
							<% else %>
							  未登録
							<% end %>
						</td>
					</tr>
			<% end %>
		</tbody>
		<div class="">
			<%= paginate @owner, class: "paginate" %>
		</div>
	</table>
</div>