<div class="bicycle_index">
	<% unless @city.exhibition_spots.empty? %>
		<h1><%= @city.city_name %>の出品一覧</h1>
		<% @exhibition.each do |e| %>
			<div class="bicycle_index_box">
				<div class="">
					<% if admin_signed_in? %>
						<%= link_to(admin_bicycle_path(e.bicycle)) do %>
							<% @picture = e.bicycle.bicycle_pictures.find_by(default: :true) %>
				  			<%= attachment_image_tag @picture, :bicycle_picture, fallback: "img1.png", class: 'bicycle_index_picture'%>
				  		<% end %>
					<% else %>
						<%= link_to(owner_bicycle_path(e.bicycle)) do %>
							<% @picture = e.bicycle.bicycle_pictures.find_by(default: :true) %>
				  			<%= attachment_image_tag @picture, :bicycle_picture, fallback: "img1.png", class: 'bicycle_index_picture'%>
				  		<% end %>
				  	<% end %>
				</div>
				<div class="bicycle_index_box2">
					<div class="bicycle_index_content">
						<p>自転車名<br>
							　　<%= link_to e.bicycle.name, owner_bicycle_path(e.bicycle) %></p>
						<p>１日の料金　<%= e.bicycle.price %>円</p>
						<p>出費者<br>
							　　<%= e.bicycle.owner.nickname %>(<%= e.bicycle.owner.sex.sex %>)</p>
					</div>
					<div class="bicycle_index_content">
						<h4>付属品一覧</h4>
						<% e.bicycle.bicycle_accessories.each do |a| %>
							<div class="bicycle_indew_text">
								■<%= a.accessory.accessorie_name %>
							</div>
						<% end %>
					</div>
					<div class="bicycle_index_content">
						<h4>貸し出し場所</h4>
						<% e.bicycle.lend_spots.each do |l| %>
							<div class="bicycle_indew_text">
								●<%= l.lend_spot %>
							</div>
						<% end %>
						<h4>返却場所</h4>
						<% e.bicycle.return_spots.each do |r| %>
							<div class="bicycle_indew_text">
								●<%= r.return_spot %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% else %>
		<h1>現在<%= @city.city_name %>の出品はありません</h1>
	<% end %>
</div>