<div class="bicycle_index">
	<% unless @city.exhibition_spots.empty? %>
		<h1><%= @city.city_name %>の出品一覧</h1>
		<% @bicycle.each do |b| %>
			<div class="bicycle_index_box clearfix">
				<div class="">
					<% if admin_signed_in? %>
						<%= link_to(admin_bicycle_path(b)) do %>
							<% if b == BicyclePicture.find_by(bicycle_id: b ) %>
								<% @picture = b.bicycle_pictures.where(default: :true) %>
							<% end %>
				  			<%= attachment_image_tag @picture, :bicycle_picture, fallback: "/images/img1.png", class: 'bicycle_index_picture'%>
				  		<% end %>
					<% else %>
						<%= link_to(owner_bicycle_path(b)) do %>
							<% @picture = b.bicycle_pictures.find_by(default: :true) %>
				  			<%= attachment_image_tag @picture, :bicycle_picture, fallback: "/images/img1.png", class: 'bicycle_index_picture'%>
				  		<% end %>
				  	<% end %>
				</div>
				<div class="bicycle_index_box2">
					<div class="bicycle_index_content">
						<p>自転車名<br>
							　　<%= link_to b.name, owner_bicycle_path(b) %></p>
						<p>１日の料金　<%= b.price %>円</p>
						<p>出費者<br>
						<%= b.owner.nickname %>(<%= b.owner.sex.sex %>)</p>
					</div>
					<div class="bicycle_index_accessories">
						<h4>付属品一覧</h4>
						<% b.bicycle_accessories.each do |a| %>
							<div class="bicycle_index_accessory">
								■<%= a.accessory.accessorie_name %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
		<div class="">
			<%= paginate @bicycle, class: "paginate" %>
		</div>
	<% else %>
		<h1>現在<%= @city.city_name %>の出品はありません</h1>
	<% end %>
</div>