<div class="contract_confirm">
	<h1>契約確認</h1>
	<div class="contract_confirm_content">
		<h2>自転車情報</h2>
		<div class="contract_confirm_bicycle clearfix">
			<% @picture = @bicycle.bicycle_pictures.find_by(default: :true) %>
			<%= attachment_image_tag @picture, :bicycle_picture, fallback: "img1.png", class: 'contract_picture'%>

			商品名　　<%= @bicycle.name %>
			<br><br>
			オーナー　　<%= @owner.nickname %>
			<br><br>
			１日の貸し出し料金　　<%= @contract.price %>
			<br><br>
			ハンドル　　<%= @bicycle.handle.handle_type %>
			
		</div>
		<h3>■付属品一覧</h3>
		<div class="clearfix">
			<% @bicycle.bicycle_accessories.each do |a| %>
				<div class="contract_confirm_accessory">
					<%= a.accessory.accessorie_name %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="contract_confirm_content">
		<h2>契約内容</h2>
		<h3>■契約日</h3>
		<div class="clearfix">
			<% @contract.borrow_days.each do |b| %>
				<div class="contract_confirm_day">
					借り出し日<%= b.borrow_day %>
				</div>
			<% end %>
		</div>
		<div class="">
			<p>
				合計金額　　<%= @contract.total_price %>
				<br><br>
				支払い方法　　<%= @contract.payment_method %>
			</p>
		</div>
	</div>
	<%= form_for @contract, url: {action: 'create'} do |f| %>
		<div class="contract_confirm_back">
			<%= f.submit  value: "　契約内容を変更する　", name: 'back', class: 'btn btn-success' %>
		</div>
		<div class="contract_confirm_submit">
			<%= f.submit  value: "　確定　", class: 'btn btn-danger' %>
		</div>
	<% end %>
</div>