<div class="flash alert-success">
  <%= flash[:success] %>
</div>
<div class="flash alert-danger">
  <%= flash[:danger] %>
</div>
<div class="flash alert-warning">
  <%= flash[:warning] %>
</div>
<div class="flash alert-dark">
  <%= flash[:notice] %>
</div>

<div class="error">
  <% if flash[:error].present? %>
    <p><%= flash[:error].count %> 件のエラーがあります。</p>
    <ul>
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
</div>